form {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.app {
    display: flex;
}

.submitForm {
    background-color: lavender;
    border-radius: 12px;
    padding: 50px;
}

.resume {
    /* flex-grow: 2; */
    margin-left: 10%;
}
.cv {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: whitesmoke;
    min-width: 500px;
    max-width: 500px;
    text-overflow:clip;
}