
.app {
    display: flex;
    gap: 10%;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    padding: 2rem;
}

.submitForm {
    background-color: white;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0 2rem;
    overflow-y: scroll;
}

.title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-top: 6px solid gray;
}

label {
    font-size: 1.2rem;
}

p.input {
    display: flex;
    flex-direction: column;
}

input {
    min-width: 500px;
    border: 1px solid gray;
    padding: 6px;
}

textarea {
    resize: none;
    height: auto;
    min-width: 500px;
    min-height: 100px;
}

button {
    padding: 15px;
    border: solid 2px white;
    background-color: royalblue;
    border-radius: 12px;

    align-self: flex-end;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

img {
    filter: invert(100%);

}

/* Result */
.resume {
    background-color: white;
    border-radius: 12px;
    flex-basis: 500px;
    padding: 2rem;
}
.cv {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    border-radius: 20px;
    overflow: auto;
}